{{! Use the main layout }}
{{!< main }}

<section class="login">
    <section class = "login-area">
        <h2>Login with Google</h2>
        <!-- errors will appear here -->
        {{#if loginError}}
            <p style="color: red;">{{loginError}}</p>
        {{/if}}
        <form action="/google" method="GET">
            <!-- <label for="regUsername"></label><br>
            <input class="input-auth" type="text" id="regUsername" name="username"><br> -->
            <button class="button-auth" type="submit">Login with Google</button>
        </form>
    </section>