{{! Use the main layout }}
{{!< main }}
<section class="registerUsername">
    <section class = "register-area">
        <h2>Register</h2>
            <!-- errors will appear here -->
            {{#if regError}}
                <p style="color: red;">{{regError}}</p>
            {{/if}}
        <form action="/registerUsername" method="POST">
            <label for="regUsername">Username:</label><br>
            <input class="input-auth"  type="text" id="regUsername" name="username" required><br>
            <input type="hidden" name="googleID" value="{{googleID}}">
            <button class="button-auth" type="submit">Register</button>
            </form>
        </section>
    </section>
</section>